/* Nav - all - custom */

/* title - all */

.title{
    display: block;
    margin-top: 20px;    
    margin-bottom: 50px;
}

.title p{
    font-size: 3vw
}

.title :last-child{
    font-size: 1.5vw
}


/* main - all */

.main{
    text-align: center;    
}

/* Images - home */
.homeImages{
    height: 300px;
    overflow: hidden;
    display: inline-block;
        
}

#img1{
    margin: -300px 0 0 0;    
    width: 100%
}

#img2{
    margin: -15px 0 0 0;
    width: 100%
}